:root {
  --cor-primaria: #40A2E3;
  --cor-secundaria: #FFF6E9;
  --cor-terciaria: #BBE2EC;
  --cor-rodape: #BBE2EC;
}

*{
    box-sizing:border-box; 
    margin: 0;
    padding: 0
  }

  body {
    background-color: var(--cor-primaria);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: var(--cor-primaria);
  }

  h1 {
    color: #333;
  }

  input, select {
    background-color: var(--cor-secundaria);
    padding: 10px;
    margin: 10px 0;
    border-radius: 20px 20px;
  }

  button {
    border: 0;
    color: var(--cor-primaria);
    font-weight: bold;
    height: 45px;
    width: 110px;
    padding: 10px;
    margin: 10px 0;
    cursor: pointer;
    background-color: var(--cor-terciaria);
    border-radius: 20px 20px;
    transition: all 0.5s;
  }

  button:hover {
    background: var(--cor-terciaria);
    width: 150px;
  }

  #result {
    font-weight: bold;
    color:var(--cor-secundaria);
  }

  footer {
    margin-top: 20px;
    text-align: center;
    font-size: 14px;
    color: var(--cor-primaria);
  }

  .rodape {
    padding: 24px;
    width: 100%;
    color:var(--cor-primaria);
    background-color: var(--cor-rodape);
    text-align: center;
    font-family: 'Montserra', sans-serif;
    font-size: 24px;
    font-weight: 35;
  }