*{
    box-sizing:border-box; 
    margin: 0;
    padding: 0
  }

  body {
    background-color: rgb(175, 114, 114);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f4f4f4;
  }

  h1 {
    color: #333;
  }

  input, select {
    background-color: yellow;
    padding: 10px;
    margin: 10px 0;
    border-radius: 20px 20px;
  }

  button {
    border: 0;
    color: #76db76;
    font-weight: bold;
    height: 45px;
    width: 110px;
    padding: 10px;
    margin: 10px 0;
    cursor: pointer;
    background-color: green;
    border-radius: 20px 20px;
    transition: all 0.5s;
  }

  button:hover {
    background: #008000;
    width: 150px;
  }

  #result {
    font-weight: bold;
    color: #008000;
  }

  footer {
    margin-top: 20px;
    text-align: center;
    font-size: 14px;
    color: #666;
  }

  .rodape {
    padding: 24px;
    width: 100%;
    color: #b7c6b7;
    background-color: rgb(112, 126, 85);
    text-align: center;
    font-family: 'Montserra', sans-serif;
    font-size: 24px;
    font-weight: 35;
  }